.root {
  padding: 2.5rem;
}

.root > div {
  text-align: left;
  margin-bottom: 4rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.root .card {
  width: 15rem;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.card > .buttonGroup {
  display: flex;
  justify-content: space-between;
}