.root {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root > h1 {
  margin-bottom: 2.5rem;
  text-align: left;
  align-self: flex-start;
  margin-left: 1rem;
}

.root > div:nth-child(1) {
  padding: 1rem;
  width: fit-content !important;
  height: fit-content !important;
}

.root > div:nth-child(1) table {
  background-color: white;
  font-size: 0.625rem;
}

.root .error {
  color: var(--primary) !important;
  font-weight: 700;
}

.root > div table > thead > tr > th {
  /* background-color: var(--primary) !important;
  color: white; */
}