.root {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root > div:nth-child(1) {
  padding: 1rem;
  width: fit-content !important;
  height: fit-content !important;
}

.root > div:nth-child(1) table {
  background-color: white;
  font-size: 0.625rem;
}

.root > div table > thead > tr > th {
  /* background-color: var(--primary) !important;
  color: white; */
}